@import "./tailwind.css";
@import "fonts/fonts.css";

* {
  @apply box-border font-poppins;
}

html {
  @apply bg-gray-300 h-full bg-fixed #{!important};
  background: url('../bg.jpg');
  background-size: cover;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

section {
  scroll-snap-align: start;
}

body {
  @apply h-full;
}

:root {
  --passport-width: 300px;
  --passport-height: 433px;
  --passport-scale: 1.2;
  --passport-top: 100vh;
  --passport-top-2: 160vh;

  @media (max-width: 767px) {
    --passport-scale: 1;
  }

  @media (max-width: 1023px) {
    --passport-width: 225px;
    --passport-height: 324px;
    --passport-top: 130vh;
    --passport-top-2: 170vh;
  }
}
