@import "./tailwind.css";
@import "fonts/fonts.css";

* {
  @apply box-border font-poppins;
}

html {
  @apply bg-gray-100 h-full bg-fixed bg-cover overflow-x-hidden #{!important};
  background: url('../bg.jpg');

  &:before,
  &:after {
    content: "";
    @apply fixed -z-[1] bg-contain bg-no-repeat opacity-30 pointer-events-none max-w-[70vw] #{!important};
    filter: sepia(100%) hue-rotate(115deg);
    background: url("../plane.webp");
  }

  &:before {
    @apply top-[calc(4*var(--vh))] -right-[3rem] w-[412px] h-[130px] -scale-x-100;
  }

  &:after {
    @apply bottom-[calc(4*var(--vh))] -left-[3rem] w-[330px] h-[104px] rotate-180 -scale-100 #{!important};
  }
}

body {
  @apply h-full;
}

:root {
  --passport-width: 300px;
  --passport-height: 433px;
  --passport-scale: 1.2;
  --passport-top: calc(100*var(--vh));
  --passport-top-2: calc(40*var(--vh));

  @media (max-width: 767px) {
    --passport-scale: 1;
  }

  @media (max-width: 1023px) {
    --passport-width: 225px;
    --passport-height: 324px;
    --passport-top: calc(130*var(--vh));
    --passport-top-2: calc(70*var(--vh));
  }
}
